<div>    
    <% workouts.forEach((workout) => { %>
        <h1> <%= workout.activity %> workouts availables </h1>
        <p><%= workout.meetingpoint %></p>
        <p><%= workout.date %></p>
        <p><%= workout.duration %></p>
        <form action="/user/workouts/<%= workout._id %>/join" method="post">
            <input type="submit" value="Join">
        </form>
    <% })%>
</div>
<br>
<a href="/user/workouts/new">Create a new Workout</a>