<h1><%= workout.activity %> details</h1>

<ul>
    <li>Location: <%= workout.meetingpoint %></li>
    <li>Date: <%= workout.date %></li>
    <li>Time: <%= workout.duration %></li>
    <li>Attendees:
    <% workout.attendees.forEach((attendee) => { %>
        <% attendee.username %>
    <% })%>
    </li>
    <li>Comments: <%= workout.comment %></li>
</ul>

<a href="/user/workouts">Back to workouts</a>